@font-face {
    font-family: 'Ubuntu';
    src: url('ot');
    src: url('ot?#iefix') format('embedded-opentype'),
        url('off2') format('woff2'),
        url('off') format('woff'),
        url('vg#Ubuntu') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('old.eot');
    src: url('old.eot?#iefix') format('embedded-opentype'),
        url('old.woff2') format('woff2'),
        url('old.woff') format('woff'),
        url('old.svg#Ubuntu-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

